{{!-- Home Page --}}
{{#unless loggedIn}}
  <ul id="post-list">
    {{#each posts}}
    <li>
      <article class="post">
          <div class="title">
            <h2>{{title}}</h2>
          </div>
          <div class="post_text">
              <p>{{post_text}}</p>
          </div>
          <div class="date">
              by {{user.username}} on {{format_date created_at}}
          </div>
      </article>
    </li>
    {{/each}}
  </ul>
{{/unless}}

{{#if loggedIn}}
  <ul id="post-list">
    {{#each posts}}
    <li>
      <article class="post">
          <div class="title">
            <a href="/post/{{id}}">{{title}}</a>
          </div>
          <div class="date">
              by {{user.username}} on {{format_date created_at}}
          </div>
      </article>
    </li>
    {{/each}}
  </ul>
{{/if}}