{{!-- Single Post Page --}}
<div class="single-post">
      <article class="post">
          <div class="title">
            <h2>{{post.title}}<h2></h2>
          </div>
          <div class="post_text">
            <p>{{post.post_text}}</p>
          </div>
          <div class="date">
              by {{post.user.username}} on {{format_date post.created_at}}
          </div>
      </article>
</div>

<h2>Comments</h2>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}